Câu 1: Hãy tạo 1 đối tượng kiểu Series có tối thiểu 10 phần tử (kiểu số) với giá trị tùy ý thích của bạn. 
       In giá trị của Series đó ra màn hình

In [1]:
import pandas as pd
import numpy as np
s = pd.Series(np.random.randint(100,size = 20))
s

ModuleNotFoundError: No module named 'pandas'

Câu 2: Hãy tạo 1 đối tượng kiểu Series với giá trị khởi tạo hình thành từ dữ liệu kiểu Dictionary. In kết quả ra màn hình

In [43]:
phones = ['Iphone',"Samsung Note","Samsung S","Nokia","Cuong"]
quantities = [10,12,30,100,0]

dictionary = dict(zip(phones, quantities))
dictionary

{'Samsung Note': 12, 'Samsung S': 30, 'Nokia': 100, 'Iphone': 10, 'Cuong':0}
S = pd.Series(dictionary)
S

Iphone           10
Samsung Note     12
Samsung S        30
Nokia           100
Cuong             0
dtype: int64

Câu 3: Sử dụng series ở câu 1, hãy thay đổi giá trị của cột index từ kiểu số theo kiểu ký tự với giá trị do bạn tự xác định.

In [30]:
s = pd.Series(np.random.randint(100,size = 20),
index=['t', 'h', 'a', 'y', 'c', 'u', 'o', 'n', 'g', 'd', 'e','p', 't', 'r', 'a', 'i', 'n', 'h', 'a', 't'])
s

t     9
h    58
a    78
y    48
c    95
u    88
o    56
n    67
g    47
d    77
e    72
p    16
t    58
r    91
a    48
i    23
n     3
h    87
a    38
t    89
dtype: int32

Câu 4: Sử dụng series ở câu 2, hãy truy cập đến phần tử thứ 5 và in ra màn hình

In [49]:
phones = ['Iphone',"Samsung Note","Samsung S","Nokia","Cuong"]
quantities = [10,12,30,100,0]

dictionary = dict(zip(phones, quantities))
dictionary

{'Samsung Note': 12, 'Samsung S': 30, 'Nokia': 100, 'Iphone': 10, 'Cuong':0}
S = pd.Series(dictionary)
print(phones[4])

Cuong

Câu 5: Sử dụng series ở câu 3, hãy truy cập đến 1 phần tử dựa theo chỉ số kiểu ký tự do bạn lựa chọn và in ra màn hình

In [53]:
s = pd.Series(np.random.randint(100,size = 20),
index=['t', 'h', 'a', 'y', 'c', 'u', 'o', 'n', 'g', 'd', 'e','p', 't', 'r', 'a', 'i', 'n', 'h', 'a', 't'])
print(s['c'])

56

Câu 6: Sử dụng series ở câu 3, hãy tìm ra tính chất đặc thù trong các chỉ số kiểu kí tự, thực hiện vòng lặp for duyệt trên các chỉ mục kiểu kí tự này để lọc ra những phần tử thỏa mãn điều kiện và in ra màn hình

In [57]:
print(s[[name.endswith("t") or name.startswith("5") for name in s.index]])

t    68
t    15
t    53
dtype: int32

Câu 7: Sử dụng series ở câu 1, hãy đổi tên cột index thành 'STT' và đặt tên cho series là 'Gia_tri'. In kết quả ra màn hình

In [58]:


s.index.name = "STT"
s.name = "Gia_Tri"
print(s)

STT
t    68
h    64
a    79
y    84
c    56
u    21
o    21
n    15
g    35
d    82
e    49
p    46
t    15
r     1
a    34
i    14
n    23
h    99
a    41
t    53
Name: Gia_Tri, dtype: int32

Câu 8: Hãy áp dụng hàm logarith của gói numpy với series ở câu 1 và in kết quả ra màn hình

In [59]:
np.log(s)

STT
t    4.219508
h    4.158883
a    4.369448
y    4.430817
c    4.025352
u    3.044522
o    3.044522
n    2.708050
g    3.555348
d    4.406719
e    3.891820
p    3.828641
t    2.708050
r    0.000000
a    3.526361
i    2.639057
n    3.135494
h    4.595120
a    3.713572
t    3.970292
Name: Gia_Tri, dtype: float64

Câu 9: Lọc các giá trị của series 1 > 15 và in ra màn hình

In [60]:
se = []      #Để chứa các giá trị của series 1 > 15
for row in s:
    if row > 15:
        se.append(row)    #Thêm các giá trị của series 1 > 15 vào 

srs = pd.Series(se)
print(srs)

0     68
1     64
2     79
3     84
4     56
5     21
6     21
7     35
8     82
9     49
10    46
11    34
12    23
13    99
14    41
15    53
dtype: int64